# Node
node_modules/
# Env files
.env
.env.local
.env.production
back/node_modules/
front/node_modules/
back/.env
front/.env
# Prisma
back/prisma/dev.db
dist/
dist_app/

copilot-instructions.md
frontend-dist-app.tar.gz
landing-out.tar.gz